﻿<div class="panel-body">
    <div id="batteryMessageAlert" ng-class="responseStatus ? 'alert alert-success' : 'alert alert-warning'">
        <strong>{{responseMessage}}</strong>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#batteryModal" ng-click="editBatteryInfo(null, 1)" ng-if="(userRoleCode > 4) ? true : false">Add</button>
    <div class="table-responsive">
        <table st-table="batteryInfoTableCollection" st-safe-src="batteryInfoList" class="table table-striped">
            <thead>
                <tr>
                    <th ng-if="(userRoleCode > 4) ? true : false"></th>
                    <th st-sort="BatteryId">Battery Id</th>
                    <th st-sort="ManufactureDate">Manufacture Date</th>
                    <th st-sort="DeviceTypeId">Device Type</th>
                    <th st-sort="StatusCode">Status</th>
                    <th>Group</th>
                    <th>Record</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in batteryInfoTableCollection">
                    <td ng-if="(userRoleCode > 4) ? true : false">
                        <a href="javascript:void(0);" title="Edit" data-toggle="modal" data-target="#batteryModal" ng-click="editBatteryInfo(x, 0)"><i class="fa fa-edit fa-fw"></i></a>
                    </td>
                    <td>{{ x.BatteryId }}</td>
                    <td>{{ x.ManufactureDate }}</td>
                    <td><span ng-bind="setBatteryDeviceType(x.DeviceTypeId)"></span></td>
                    <td><span ng-bind="setDeviceStatus(x.StatusCode)"></span></td>
                    <td>
                        <a href="javascript:void(0);" title="Group Relationship" data-toggle="modal" data-target="#groupRelationshipModal" ng-click="editBatteryGroupRelationship(x)"><i class="fa fa-group fa-fw"></i></a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" title="Record" data-toggle="modal" data-target="#batteryModal" ng-click="getBatteryRecord(x)"><i class="fa fa-file-text-o fa-fw"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div class="pull-right" st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.table-responsive -->
    <script type="text/ng-template" id="editBatteryModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ editTitle }} Battery</h3>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="batteryid">Battery Id:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="batteryid" ng-model="batteryInfoModel.BatteryId" placeholder="Battery Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="batterymanufacturedate">Manufacture Date:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="batterymanufacturedate" ng-model="batteryInfoModel.ManufactureDate" placeholder="Manufacture Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="batterydevicetype">Device Type:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="batterydevicetype" placeholder="Device Type" ng-init="batteryInfoModel.DeviceType" ng-model="batteryInfoModel.DeviceType" ng-options="b.Name for b in batteryDeviceTypeList"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="batterystatus">Status:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="batterystatus" placeholder="Status" ng-init="batteryInfoModel.Status" ng-model="batteryInfoModel.Status" ng-options="s.Name for s in deviceStatusList"></select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-right" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="batteryGroupRelationshipModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Group Relationship - {{batteryName}}</h3>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table st-table="groupRelationshipTableCollection" st-safe-src="groupRelationship" class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th st-sort="GroupName">Group Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in groupRelationshipTableCollection">
                            <td><input type="checkbox" ng-model="x.Enable" ng-init="checked=x.Enable" ng-change="isChangeGroupRelation(x)"></td>
                            <td>{{ x.GroupName }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="pull-right" st-pagination="" st-items-by-page="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-right" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="batteryRecordModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="confirm()">&times;</button>
            <h3 class="modal-title">Battery Record - {{batteryId}}</h3>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table st-table="batteryRecordTableCollection" st-safe-src="batteryRecordList" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="ChargeTransTimeStamp">Time</th>
                            <th st-sort="DeviceId">Device Id</th>
                            <th st-sort="DeviceTypeId">Type</th>
                            <th st-sort="SlotId">Slot</th>
                            <th st-sort="ChargedCapacity">Charged Capacity</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in batteryRecordTableCollection">
                            <td>{{ x.ChargeTransTimeStamp }}</td>
                            <td>{{ x.DeviceId }}</td>
                            <td><span ng-bind="setChargerDeviceType(x.DeviceTypeId)"></span></td>
                            <td>{{ x.SlotId }}</td>
                            <td>{{ x.ChargedCapacity }}</td>
                            <td>
                                <a href="javascript:void(0);" title="Detail" data-toggle="modal" data-target="#batteryDetailModal" ng-click="getBatteryDetailRecord(x)"><i class="fa fa-file-text-o fa-fw"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="pull-right" st-pagination="" st-items-by-page="3"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Detail - {{selectedRecordTime}}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Time</th>
                                    <th>SOC</th>
                                    <th>FCC</th>
                                    <th>RC</th>
                                    <th>Impdeance</th>
                                    <th>Volt</th>
                                    <th>VMax</th>
                                    <th>VMin</th>
                                    <th>Cycle Count</th>
                                    <th>Protection</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in batteryDetailList">
                                    <td>{{ x.Status }}</td>
                                    <td>{{ x.ChargeTimeStamp }}</td>
                                    <td>{{ x.SOC }}</td>
                                    <td>{{ x.FCC }}</td>
                                    <td>{{ x.RC }}</td>
                                    <td>{{ x.Impedance }}</td>
                                    <td>{{ x.Voltage }}</td>
                                    <td>{{ x.VMax }}</td>
                                    <td>{{ x.VMin }}</td>
                                    <td>{{ x.CycleCount }}</td>
                                    <td>{{ x.Protection }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>