﻿<div class="panel-body">
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupModal" ng-click="editGroupInfo(null, 1)" ng-if="(userRoleCode > 4) ? true : false">Add</button>
        <div class="table-responsive">
            <table st-table="groupInfoTableCollection" st-safe-src="groupInfoList" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th st-sort="GroupName">Group Name</th>
                        <th st-sort="StatusCode">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in groupInfoTableCollection">
                        <td>
                            <a href="javascript:void(0);" title="Edit" data-toggle="modal" data-target="#groupModal" ng-click="editGroupInfo(x, 0)" ng-if="(x.RelationRoleCode> 1) ?  true : false"><i class="fa fa-edit fa-fw"></i></a>
                        </td>
                        <td>{{ x.GroupName }}</td>
                        <td><span ng-bind="setGroupStatus(x.StatusCode)"></span></td>
                        <td>
                            <a href="javascript:void(0);" title="Information" ng-click="clickGroupRelationInfo(x)" ng-if="(x.RelationRoleCode> 1) ?  true : false"><i class="fa fa-sitemap fa-fw"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div class="pull-right" st-pagination="" st-items-by-page="10"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-sitemap fa-fw"></i>
                {{currentGroup.GroupName}}
                <div class="pull-right">
                    <select ng-init="relateModeFormat" ng-model="relateModeFormat" ng-options="d.Name for d in relateModeList" ng-change="refreshGroupRelationInfo()"></select>
                </div>
            </div>
            <div class="panel-body">
                <div ng-show="relateModeFormat.Code === 1">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupModal" ng-click="editGroupInfo(null, 1)" ng-if="(userRoleCode > 2) ? true : false">Add</button>
                    <div class="table-responsive">
                        <table st-table="groupUserTableCollection" st-safe-src="groupUserList" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th st-sort="UserName">User Name</th>
                                    <th st-sort="RelationRoleCode">User Role</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in groupUserList">
                                    <td>
                                        <a href="javascript:void(0);" title="Edit" data-toggle="modal" data-target="#groupModal" ng-click="editGroupInfo(x, 0)"><i class="fa fa-edit fa-fw"></i></a>
                                    </td>
                                    <td>{{ x.UserName }}</td>
                                    <td><span ng-bind="setRelationRole(x.RelationRoleCode)"></span></td>
                                    @*<td>
                                        <a href="javascript:void(0);" title="Record"><i class="fa fa-file-text-o fa-fw"></i></a>
                                    </td>*@
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div class="pull-right" st-pagination="" st-items-by-page="8"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <div ng-show="relateModeFormat.Code === 2">       
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupModal" ng-click="editGroupInfo(null, 1)" ng-if="(userRoleCode > 4) ? true : false">Add</button>           
                    <div class="table-responsive">
                        <table st-table="groupCardTableCollection" st-safe-src="groupCardList" class="table table-striped">
                            <thead>
                                <tr>
                                    <th ng-if="(userRoleCode > 4) ? true : false"></th>
                                    <th st-sort="UserId">User Id</th>
                                    <th st-sort="CardId">Card Id</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in groupCardList">
                                    <td ng-if="(userRoleCode > 4) ? true : false">
                                        <a href="javascript:void(0);" title="Edit" data-toggle="modal" data-target="#groupModal" ng-click="editGroupInfo(x, 0)"><i class="fa fa-edit fa-fw"></i></a>
                                    </td>
                                    <td>{{ x.UserId }}</td>
                                    <td>{{ x.CardId }}</td>
                                    @*<td>
                                        <a href="javascript:void(0);" title="Record"><i class="fa fa-file-text-o fa-fw"></i></a>
                                    </td>*@
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div class="pull-right" st-pagination="" st-items-by-page="8"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <div ng-show="relateModeFormat.Code === 3">             
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupModal" ng-click="editChargerGroupInfo(null, 1)">Edit</button>     
                    <div class="table-responsive">
                        <table st-table="groupChargerTableCollection" st-safe-src="groupChargerList" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="Name">Name</th>
                                    <th st-sort="DeviceTypeId">Type</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in groupChargerTableCollection">
                                    <td>{{ x.Name }}</td>
                                    <td><span ng-bind="setChargerDeviceType(x.DeviceTypeId)"></span></td>
                                    @*<td>
                                        <a href="javascript:void(0);" title="Record"><i class="fa fa-file-text-o fa-fw"></i></a>
                                    </td>*@
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div class="pull-right" st-pagination="" st-items-by-page="8"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <div ng-show="relateModeFormat.Code === 4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#groupModal" ng-click="editBatteryGroupInfo(null, 1)">Edit</button>
                    <div class="table-responsive">
                        <table st-table="groupBatteryTableCollection" st-safe-src="groupBatteryList" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="BatteryId">Battery Id</th>
                                    <th st-sort="DeviceTypeId">Type</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in groupBatteryTableCollection">
                                    <td>{{ x.BatteryId }}</td>
                                    <td><span ng-bind="setBatteryDeviceType(x.DeviceTypeId)"></span></td>
                                    @*<td>
                                        <a href="javascript:void(0);" title="Record"><i class="fa fa-file-text-o fa-fw"></i></a>
                                    </td>*@
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-center">
                                        <div class="pull-right" st-pagination="" st-items-by-page="8"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div>
    </div>

        <script type="text/ng-template" id="editGroupModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{ editTitle }} Group</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="groupname">Group Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="groupname" ng-model="groupInfoModel.GroupName" placeholder="Group Name">
                            </div>
                        </div>
                        <div class="form-group" ng-if="(userRoleCode > 4) ? true : false">
                            <label class="control-label col-sm-2" for="grouprole">Group Status:</label>
                            <div class="col-sm-10">
                                <select class="form-control" placeholder="Group Status" ng-init="groupInfoModel.Status" ng-model="groupInfoModel.Status" ng-options="g.Name for g in groupStatusList"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success pull-right" ng-click="save()">Save</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>