﻿<div class="panel-body">
    <div id="userMessageAlert" ng-class="responseStatus ? 'alert alert-success' : 'alert alert-warning'">
        <strong>{{responseMessage}}</strong>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal" ng-click="editUserInfo(null, 1)" ng-if="(userRoleCode > 4) ? true : false">Add</button>
    <div class="table-responsive">
        <table st-table="userInfoTableCollection" st-safe-src="userInfoList" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th st-sort="Account">Account</th>
                    <th st-sort="UserName">User Name</th>
                    <th st-sort="UserRoleCode">User Role</th>
                    <th>Group</th>
                    @*<th>Record</th>*@
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in userInfoTableCollection">
                    <td>
                        <a href="javascript:void(0);" title="Edit" data-toggle="modal" data-target="#userModal" ng-click="editUserInfo(x, 0)"><i class="fa fa-edit fa-fw"></i></a>
                    </td>
                    <td>{{ x.Account }}</td>
                    <td>{{ x.UserName }}</td>
                    <td><span ng-bind="setUserRole(x.UserRoleCode)"></span></td>
                    <td>
                        <a href="javascript:void(0);" title="Group Relationship" data-toggle="modal" data-target="#groupRelationshipModal" ng-click="editGroupRelationship(x)"><i class="fa fa-group fa-fw"></i></a>
                    </td>
                    @*<td>
                        <a href="javascript:void(0);" title="Record"><i class="fa fa-file-text-o fa-fw"></i></a>
                    </td>*@
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div class="pull-right" st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.table-responsive -->
    <script type="text/ng-template" id="editUserModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ editTitle }} User</h3>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="username">Account:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="account" ng-model="userInfoModel.Account" placeholder="Account">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" ng-model="userInfoModel.Password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="username">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" ng-model="userInfoModel.UserName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="useremail">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="useremail" ng-model="userInfoModel.Email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="userphone">Phone:</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="userphone" ng-model="userInfoModel.Phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="useraddress">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="useraddress" ng-model="userInfoModel.Address" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="userrole">User Role:</label>
                        <div class="col-sm-10">
                            <select class="form-control" placeholder="User Role" ng-init="userInfoModel.UserRole" ng-model="userInfoModel.UserRole" ng-options="u.Name for u in userRoleList" ng-disabled="(userRoleCode> 4) ?  false : true"></select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-right" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="userGroupRelationshipModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Group Relationship - {{UserName}}</h3>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table st-table="groupRelationshipTableCollection" st-safe-src="groupRelationship" class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th st-sort="GroupName">Group Name</th>
                            <th st-sort="UserRoleCode">User Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in groupRelationshipTableCollection">
                            <td><input type="checkbox" ng-model="x.Enable" ng-init="checked=x.Enable" ng-change="isChangeGroupRelation(x)"></td>
                            <td>{{ x.GroupName }}</td>
                            <td><select class="form-control" ng-init="x.RelationRole = setRelationRole(x.RelationRoleCode)" ng-model="x.RelationRole" ng-options="r.Name for r in relationRoleList" ng-disabled="(x.Enable) ?  false : true" ng-change="isChangeGroupRelation(x)"></select></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="pull-right" st-pagination="" st-items-by-page="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-right" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
