﻿<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Administrator</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-12">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a switchtab="" href="#charger">Charge Device</a>
                    </li>
                    <li>
                        <a switchtab="" href="#battery">Battery</a>
                    </li>
                    @*<li>
                        <a switchtab="" href="#card">Card</a>
                    </li>*@
                    <li>
                        <a switchtab="" href="#group">Group</a>
                    </li>
                    <li ng-if="(userRoleCode > 4) ? true : false">
                        <a switchtab="" href="#user">User</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="charger">
                        <administratorcharger></administratorcharger>
                    </div>
                    <div class="tab-pane fade" id="battery">
                        <administratorbattery></administratorbattery>
                    </div>
                    @*<div class="tab-pane fade" id="card">
                        <administratorcard></administratorcard>
                    </div>*@
                    <div class="tab-pane fade" id="group">
                        <administratorgroup></administratorgroup>
                    </div>
                    <div class="tab-pane fade" id="user" ng-if="(userRoleCode > 4) ? true : false">
                        <administratoruser></administratoruser>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>