﻿<div class="panel panel-info">
    <div class="panel-heading">
        Detail - Charge Device
        <div class="pull-right">
            <a href="javascript: void(0)" ng-click="refreshChargerInfo()"><i class="fa fa-refresh fa-fw"></i></a><span></span>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-lg-6">
            <div class="table-responsive">
                <table st-table="chargerTableCollection" st-safe-src="chargerList" class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th st-sort="Name">Name</th>
                            <th st-sort="Type">Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in chargerTableCollection">
                            <td>
                                <a href="javascript:void(0);" title="Detail" ng-click="refreshChargerSlotInfo(x)"><i class="fa fa-search fa-fw"></i></a>
                            </td>
                            <td>{{ x.Name }}</td>
                            <td><span ng-bind="chargerTypeByCode(x.DeviceTypeId)"></span></td>
                            <td>
                                <a href="javascript:void(0);" title="Statistics" ng-click="resetChargerStatisticsInfo(x)"><i class="fa fa-bar-chart-o fa-fw"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="pull-right" st-pagination="" st-items-by-page="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa  fa-bar-chart-o fa-fw"></i>
                    {{chargerName}}
                    <div class="pull-right">
                        <select ng-init="chargerModeFormat" ng-model="chargerModeFormat" ng-options="d.Name for d in cChargerModeList" ng-change="refreshChargerBarInfo()"></select>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="pull-right">
                        <select ng-init="chargerTimeFormat" ng-model="chargerTimeFormat" ng-options="t.Name for t in cTimeFormatList" ng-change="refreshChargerBarInfo()" ng-show="displaycomboboxbyMode"></select>
                    </div>
                    <canvas class="chart chart-line" chart-data="chargerbar.datas" chart-labels="chargerbar.labels"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="displaySlotInfo.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">{{titleName}}{{stationUpdateTime}}</h3>
        </div>
        <div class="modal-body">
            <div class="table-responsive" ng-hide="displayMapMode">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Slot Id</th>
                            <th>Status</th>
                            <th>SOC</th>
                            <th>Temperature</th>
                            <th>Current</th>
                            <th>Voltage</th>
                            <th>VMax</th>
                            <th>VMin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in chargerSlots">
                            <td>{{ x.SlotId }}</td>
                            <td><span ng-bind="slotStatus(x)"></span></td>
                            <td><span ng-bind="slotSOC(x.SlotBatteryRecord)"></span></td>
                            <td><span ng-bind="slotTemperature(x.SlotBatteryRecord)"></span></td>
                            <td><span ng-bind="slotCurrent(x.SlotBatteryRecord)"></span></td>
                            <td><span ng-bind="slotVoltage(x.SlotBatteryRecord)"></span></td>
                            <td><span ng-bind="slotVMax(x.SlotBatteryRecord)"></span></td>
                            <td><span ng-bind="slotVMin(x.SlotBatteryRecord)"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    </script>
</div>
