﻿<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                Summary - Charge Device
                <select class="pull-right" ng-init="sChargerModeFormat" ng-model="sChargerModeFormat" ng-options="d.Name for d in sChargerModeList" ng-change="sChargerMode()"></select>
            </div>
            <div class="panel-body">
                <div class="pull-right">
                    <select ng-init="sChargerStyleFormat" ng-model="sChargerStyleFormat" ng-options="d.Name for d in ChargerStyleFormatList" ng-change="sChargerMode()"></select>
                    <select ng-init="sChargerTimeFormat" ng-model="sChargerTimeFormat" ng-options="d.Name for d in TimeFormatList" ng-change="sChargerMode()"></select>
                </div>                
                <canvas class="chart chart-line" chart-data="sChargerbar.datas" chart-labels="sChargerbar.labels" chart-series="sChargerbar.series" chart-legend="true"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                Summary - Battery
                <select class="pull-right" ng-init="sBatteryModeFormat" ng-model="sBatteryModeFormat" ng-options="d.Name for d in sBatteryModeList" ng-change="sBatteryMode()"></select>
            </div>
            <div class="panel-body">
                <select class="pull-right" ng-init="sBatteryTypeFormat" ng-model="sBatteryTypeFormat" ng-options="d.Name for d in sBatteryTypeList" ng-change="sBatteryMode()"></select>
                <canvas class="chart chart-pie" chart-data="sBatteryPie.datas" chart-labels="sBatteryPie.labels" chart-legend="true" chart-click="sbatterydetailclick"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <script type="text/ng-template" id="batteryCurrentDetail.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="confirm()">&times;</button>
            <h3 class="modal-title">Detail - Battery</h3>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table st-table="batteryRecordTableCollection" st-safe-src="batteryRecordList" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="BatteryId">Id</th>
                            <th st-sort="ManufactureDate">Manuf. Date</th>
                            <th st-sort="DeviceTypeId">Type</th>
                            <th st-sort="LastUpdateTime">Update Time</th>
                            <th st-sort="SOH">SOH</th>
                            <th st-sort="CellVoltDiff">Volt. Diff.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in batteryRecordTableCollection">
                            <td>{{ x.BatteryId }}</td>
                            <td>{{ x.ManufactureDate }}</td>
                            <td><span ng-bind="setBatteryDeviceType(x.DeviceTypeId)"></span></td>
                            <td>{{ x.LastUpdateTime }}</td>
                            <td>{{ x.SOH }}</td>
                            <td>{{ x.CellVoltDiff }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="pull-right" st-pagination="" st-items-by-page="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </script>
</div>

