﻿<div class="panel panel-info">
    <div class="panel-heading">
        Charger Information
        @*<select class="pull-right" ng-init="inforModeFormat" ng-model="inforModeFormat" ng-options="i.Name for i in inforModeList" ng-change="switchInformationMode()"></select>*@
    </div>
    <div class="panel-body">
        <div map-lazy-load="http://maps.google.com/maps/api/js">
            <map zoom="14" max-zoom="18" min-zoom="8"
                 street-view-control="false" map-type-control="false"
                 zoom-control-options="{position:'RIGHT_CENTER'}" pan-control-options="{position:'RIGHT_BOTTOM'}">
                <custom-control id="userlocation" position="TOP_RIGHT" index="1">
                    <div class="custom-control-table">
                        <div class="custom-control-table-row">
                            <button class="button button-icon" ng-click="goUserLocation()">
                                <i class="icon ion-android-locate"></i>
                            </button>
                        </div>
                        <div class="custom-control-table-row">
                            <button class="button button-icon" ng-click="refreshChargerMarker()">
                                <i class="icon ion-android-refresh"></i>
                            </button>
                        </div>
                    </div>
                </custom-control>
            </map>
        </div>
    </div>
</div>