﻿<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="GTE.Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            @*<li ui-sref-active="active" ng-if="userRoleCode > 3">
                <a ui-sref="GTE.Chart"><i class="fa fa-bar-chart-o fa-fw"></i> Chart<span></span></a>
            </li>
            <li ng-class="{active: collapseVar==1}" ng-if="userRoleCode > 0">
                <a ui-sref="GTE.Device"><i class="fa fa-laptop fa-fw"></i> Device<span></span></a>
            </li>*@
            <li ng-class="{active: collapseVar==1}" ng-if="userRoleCode > 0">
                <a ui-sref="GTE.Administrator"><i class="fa fa-group fa-fw"></i> Administrator<span></span></a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 