﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Smart Charger</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="~/Content/ionic/css/ionic.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Content/ionic/js/ionic.bundle.min.js"></script>

    <script src="//maps.google.com/maps/api/js"></script>
    <script src="~/Scripts/markerclusterer_compiled.js"></script>

    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/Scripts/ng-map.min.js"></script>

    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/services.js"></script>
    <script src="~/Scripts/App/controllers.js"></script>
</head>
<body>
    <div ng-controller="mainCtrl">
        <ion-nav-view></ion-nav-view>
    </div>

    <script id="templates/menu.html" type="text/ng-template">
        <ion-side-menus enable-menu-with-back-views="false">
            <ion-side-menu-content>
                <ion-nav-bar class="bar-positive nav-title-slide-ios7">
                    <ion-nav-back-button>
                    </ion-nav-back-button>

                    <ion-nav-buttons side="left">
                        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                    </ion-nav-buttons>
                </ion-nav-bar>
                <ion-nav-view name="menuContent"></ion-nav-view>
            </ion-side-menu-content>

            <ion-side-menu side="left">
                <ion-header-bar class="bar-stable">
                    <h1 class="title">Menu</h1>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <a nav-clear menu-close ui-sref="menu.map" class="item item-icon-left">
                            <i class="icon ion-android-map"></i>Map
                        </a>
                        <a nav-clear menu-close ui-sref="menu.signin" class="item item-icon-left" ng-if="userRoleCode > 0">
                            <i class="icon ion-android-contact"></i>Profile
                        </a>
                        <a nav-clear menu-close ui-sref="menu.chargenotification" class="item item-icon-left" ng-if="userRoleCode > 0">
                            <i class="icon ion-android-alarm-clock"></i>Notification
                        </a>
                        <a nav-clear menu-close ui-sref="menu.signin" class="item item-icon-left" ng-if="userRoleCode > 4">
                            <i class="icon ion-android-clipboard"></i>Management
                        </a>
                        <a nav-clear menu-close ui-sref="menu.signin" class="item item-icon-left" ng-if="userRoleCode > 2">
                            <i class="icon ion-android-clipboard"></i>Analysis
                        </a>
                        <a nav-clear menu-close ui-sref="menu.signin" class="item item-icon-left" ng-if="userRoleCode > 1">
                            <i class="icon ion-android-clipboard"></i>Setting
                        </a>
                        <a nav-clear menu-close ui-sref="menu.signin" class="item item-icon-left" ng-if="userRoleCode <= 0">
                            <i class="icon ion-android-person"></i>Sign-In
                        </a>
                        <a nav-clear menu-close class="item item-icon-left" ng-if="userRoleCode > 0" ng-click="signOut()">
                            <i class="icon ion-android-exit"></i>Sign-Out
                        </a>
                    </ion-list>
                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
    </script>

    <script id="templates/createAccountPopup.html" type="text/ng-template">
        <input ng-model="data.email" type="text" placeholder="Email">
        <input ng-model="data.password" type="password" placeholder="Password">
        <input ng-model="data.rePassword" type="password" placeholder="Confirm Password">
        <input ng-model="data.phone" type="text" placeholder="Phone">
    </script>
    <script id="templates/batteryNotifyPopup.html" type="text/ng-template">
        <div class="padding">
            <input ng-model="data.batteryCaptcha" type="text" placeholder="Battery Captcha">
        </div>
    </script>
    <script id="/test.html" type="text/ng-template">
        <h4>{{latLng[0]}},{{latLng[1]}}</h4>
    </script>
</body>
</html>