﻿<ion-view title="Create Account">
    <ion-content>
        <div class="padding list">
            <div class="item item-input">
                <input type="text" ng-model="userCreateModel.username" placeholder="User Name">
            </div>
            <div class="item item-input">
                <input type="text" ng-model="userCreateModel.email" placeholder="Email">
            </div>
            <div class="item item-input">
                <input type="password" ng-model="userCreateModel.password" placeholder="Password">
            </div>
            <div class="item item-input">
                <input type="password" ng-model="userCreateModel.repassword" placeholder="Confirm Password">
            </div>
            <div class="item item-input">
                <input type="text" ng-model="userCreateModel.phone" placeholder="Phone">
            </div>
            <div class="item item-input">
                <input type="text" ng-model="userCreateModel.address" placeholder="Address">
            </div>
            <div class="item item-input">
                <input type="text" ng-model="userCreateModel.captcha" placeholder="Captcha">
                <img ng-src="{{captchaUrl}}" />
                <button class="button button-icon ion-android-refresh" ng-click="refreshCaptchaUrl()" />
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="createAccount(userCreateModel)">
                Confirm
            </button>
        </div>

    </ion-content>
</ion-view>
