﻿<ion-view title="Forgot Password">
    <ion-content scroll="false">
        <div class="padding list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email" placeholder="Email">
            </label>
        </div>
        <div class="padding">
                <button class="button button-block button-positive" ng-click="signIn(user)">
                    Confirm
                </button>
        </div>
    </ion-content>
</ion-view>
