﻿<ion-view view-title="Map">
    <ion-content scroll="false">
        <map zoom="14" max-zoom="18" min-zoom="8"
             street-view-control="false" map-type-control="false"
             zoom-control-options="{position:'RIGHT_CENTER'}" pan-control-options="{position:'RIGHT_BOTTOM'}">
            <custom-control id="userlocation" position="TOP_RIGHT" index="1">
                <div class="custom-control-table">
                    <div class="custom-control-table-row">
                        <button class="button button-icon" ng-click="goUserLocation()">
                            <i class="icon ion-android-locate"></i>
                        </button>
                    </div>
                    <div class="custom-control-table-row">
                        <button class="button button-icon" ng-click="refreshChargerMarker()">
                            <i class="icon ion-android-refresh"></i>
                        </button>
                    </div>
                </div>
            </custom-control>
        </map>
    </ion-content>
</ion-view>