﻿<ion-view title="Sign-In">
    <ion-nav-buttons side="right">
        <button class="button button-icon" ui-sref="menu.createaccount">
            <i class="icon ion-android-person-add"></i>
        </button>
    </ion-nav-buttons>
    <!--1. 紀錄之前資訊 -> coockies
            2. 忘記密碼的處理 -> New Page
            3. 新增帳號 -> New Page
            4. Captcha處理 -->
    <ion-content scroll="false">
        <div class="padding list">
            <div class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="userLoginModel.email" placeholder="Email">
            </div>
            <div class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="userLoginModel.password" placeholder="Password">
            </div>
            <div class="item item-input">
                <span class="input-label">Captcha</span>
                <input type="text" ng-model="userLoginModel.captcha" placeholder="Captcha">
                <img ng-src="{{captchaUrl}}" />
                <button class="button button-icon ion-android-refresh" ng-click="refreshCaptchaUrl()" />
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(userLoginModel)">
                Confirm
            </button>
            <p class="text-right">
                <a ui-sref="menu.forgotpassword">Forgot password</a>
            </p>
        </div>

    </ion-content>
</ion-view>
