﻿ map {
          width: 100%;
          height: 100% !important;
}

 .custom-control-table{
     display: table;
     padding: 2px 2px;
 }

  .custom-control-table-row{
     display: table-row;
     background-color:#EDEDED;
 }